body{
    background: #d7cec7;
    font-family: 'EB Garamond', sans-serif;
    font-weight: bold;
}

.full-width{
    margin: 0 auto;
}

header{
    height:400px;
}

header h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    color:#76323f;
    text-align: left;
    font-size: 52px;
    background-color: #cfbba0;
    padding: 15px;
    margin: 0px;
}
header h2{
    font-family: 'Courgette', cursive;
    font-size: 36px;
    text-align: left;
    background-color: #cfbba0;
    padding: 20px;
    margin: 0px;
}
main h3{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: center; 
}